body {
   background-color: black;
   font-family: 'Great Vibes', cursive;
   margin: 0;
   padding: 0;
   color: rgb(254,130,140);
   text-align: center;
   opacity:0;
   width: 100%;
   transition: opacity .75s ease-in-out;
}
header {
   display: flex;
   justify-content: center;
   align-items: center;
   order:0;
   background-image: linear-gradient(to right, rgba(200,120,130,.5),rgba(254,130,140,1),rgba(200,120,130,.5));
   color: black;
   padding: 2%;
   text-align: center;
   font-size: 1.5em;
   height: 5vh;
   width: 100%;
   position: sticky;
   top:0;
   z-index: 1000;
   white-space: nowrap;
   max-width: 100%;
}
header a {
   color: black;
   text-decoration: none;
   padding: 1%;
   margin: 2%;
   font-size: 1.5rem;
   max-width: 90%;
}
#container {
   display: flex;                /* Enable Flexbox */
   justify-content: flex-start;       /* Center items horizontally */
   align-items: center;           /* Center items vertically */
   min-height: 100vh;                 /* Take full viewport height */
   padding-top: 5%;
   width: 100%;
   flex-direction: column;        /* Stack the content vertically */
   background-color: black;      /* Set background color */
   color: rgb(254,130,140);       /* Text color */
   font-family: 'Great Vibes', cursive;  /* Font */
   text-align: center;            /* Center text inside */
   margin: 0;
}
header a:hover {
    background-color: rgb(157,193,131);
    color: rgb(254,130,140);
    border-radius: 25px;
    text-shadow: 3px 3px 3px rgb(0,0,0);
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover transition */
}
body.fade-out {
    opacity: 0;
}
body.fade-in {
    opacity: 1;
}
h1 {
    text-decoration: underline;
    font-size: 1.5em;
}
p {
color: rgb(157,193,131);
margin: 2%;
font-size: 1.5em;
}