/* green = rgb(80,200,120); */
/* pink = rgb(254,130,140); */
/* ivory = #FFFFF0; */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Norican&family=Petit+Formal+Script&display=swap');
body {
   background-color:black;
   font-family: 'Courgette', serif;
   margin: 0;
   padding: 0;
   color: rgb(254,130,140);
   text-align: center;
   max-width: 100%;
   overflow-x: hidden;
   height: 100vh;
}
.desc-label {
 display: none;
}
#header {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Great Vibes', cursive;
   order:0;
   background-image: linear-gradient(to right, rgba(200,120,130,.5),rgba(254,130,140,1),rgba(200,120,130,.5));
   color: black;
   padding: 2%;
   text-align: center;
   font-size: 1.5em;
   height: 5vh;
   position: sticky;
   top:0;
   white-space: no-wrap;
   z-index: 1000;
   max-width: 100%;
}
#header button {
   background: transparent;
   border: none;
   color: black;
   text-decoration: none;
   padding: 1%;
   margin: 2%;
   border-radius: 25px;
   font-size: 1.5rem;
   font-family: 'Great Vibes', cursive;
   max-width: 90%;
   transition: background-color 0.3s ease
}

#header button:hover {
    background-color: rgb(80,200,120);
    color: rgb(254,130,140);
    border-radius: 25px;
    text-shadow: 3px 3px 3px rgb(0,0,0);
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover transition */
}
#header button.active {    
    background-color: rgb(80,200,120);
    color: rgb(254,130,140);
    border-radius: 25px;
    text-shadow: 3px 3px 3px rgb(0,0,0);
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover transition */
}
h1 {
    font-family: 'Norican', serif;
    text-decoration: underline;
    font-size: 1.5em;
}
p {
color: #FFFFF0;
margin: 4% 12vw;
font-size: 1.5em;
}
			/* HOME STYLES*/
	#home h1 {
	    font-size: 2.5vw;
		font-family: "Leckerli One", serif;
		font-weight: 100;
		font-style: normal;
		text-decoration: none;
		color: #FFFFF0;
		margin-bottom:0;
	}
	#welcome {
	    font-size: 3vw;
		font-family: "Alex Brush", serif;
		font-weight: 400;
		font-style: normal;
		margin: 1vh;
	}
	#bounding {
	   display: flex;
	   height: 90vh;
 	   width: 100vw;
	   margin-top: 5vh;
	   flex-direction: column;
	   justify-content: flex-start;
	   align-items: center;
	}
        .carousel-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 80vw;  /* Adjusted width to prevent full-screen overflow */
            min-height: 450px;
            overflow: hidden;
        }

        .carousel-image {
            width: 25vw; /* Regular width */
   	    height: auto;
    	    max-height: 290PX;
    	    max-width: 250PX;
            object-fit: cover;
            padding: 0; /* Space between images */
            border-radius: 25px;
            transition: transform .5s ease; /* Smooth transitions */
            z-index: 0; /* Keep all images on the same layer */
        }

        .center-image {
            transform: scale(1.4); /* Make the center image bigger */
            z-index: 1; /* Bring the center image above others */
            padding: 0 10px; /* Adjust padding when scaling */
        }

        .left-arrow, .right-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            z-index: 1000;
        }

        .left-arrow {
            left: 0;
        }

        .right-arrow {
            right: 0;
        }

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40vh;
            position: relative;
        }
	#countdown {
	    justify-content: center;
		align-items: center;
		width: auto;
		font-size: 1.5vw;
		margin-top: .5vw;
		margin-bottom: 2vw;
	}
	#name {
	   display:flex;
	   background-image: url('website-background.png');
	   width:100%;
	   height: 20%;
	   min-height: 103px;
  	   background-position: center;
       background-repeat: no-repeat;
	   align-items: center;
	   justify-content: center;
	}
	@media only screen and (max-width: 768px) {
	  #home h1 {
	   font-size: 5vw;
	}
		#bounding {
		margin-top: 12vh;
		}
		#name {
		background-size: 250%;
		}
		#us-pictures {
		width: 100%;
		margin: 0;
		overflow-x: clip;
		}
		#welcome {
		font-size: 5vw;
	}
		#countdown {
		font-size: 5vw;
	}
.carousel-image {
    width: 50vw;
    height: AUTO;
    max-height: 207PX;
    object-fit: cover;
    margin: 10px;
    border-radius: 25px;
    transition: transform .5s ease;
    z-index: 0;
	}
}
			/* RSVP STYLES*/
	#rsvp {
	display:grid;
	place-items: center;
	justify-content: flex-start;
	max-width: 100%;
	text-align: center;
	align-items: center;
	position: absolute;
	}
	#buttonDiv {
	    padding: 2vh;
	}
        #submitBtn {
            background-color: white;
	    font-size: 1em;
	    color: black;
            border: 2px solid rgb(80,200,120);
            cursor: pointer;
	    margin: 2%;
	    border-radius: 25px;
        }
        #submitBtn:hover {
            background-color: rgb(254,130,140);
        }
        #search {
            padding: .5%;
			font-size: 1.75em;
			background-color: rgb(80,200,120);
			color: white;
			border-radius: 20px;
			width: clamp(195px,50vw,380px);
			border: 2px solid white;
			text-align: center;
        }
		#rsvp-countdown {
		margin: 1vh;
		padding: 1vh;
		}
		.countdown {
		margin: 1vh;
		padding: 1vh;
		}
		.deadline {
		color: rgb(254,130,140);
		margin-top:0;
		}
	input::placeholder {
	    color:black
	}
	label[for='search'] {
	font-size: 1.75em;
	}

        /* Style for autocomplete suggestions */
        .autocomplete-suggestions {
	    
            border: 1px solid white;
            min-height: 10%;
            overflow-y: auto;
            background-color: black;
            z-index: 10;
            width: 50%;
	    margin: 2% auto;
	    font-size: 2em;
        }

        .autocomplete-suggestion {
            padding: 2%;
            cursor: pointer;
        }

        .autocomplete-suggestion:hover {
            background-color: gray;
        }
	.member-container {
    display: flex;
    align-items: center;  /* Align items vertically in the center */
    justify-content: right;
    margin-bottom: 15px;  /* Add spacing between family members */
    font-size: 2em;  /* Adjust font size */
}

/* Member name style */
.member-name {
    margin-right: 10%;
    white-space: nowrap;  /* Space between name and checkboxes */
    flex-grow: 1;
}

/* Style for the Yes/No checkboxes */
input[type="checkbox"] {
    transform: scale(1.5);  /* Increase checkbox size */
    margin-right: 2%;  /* Space between checkbox and label */
    accent-color: rgb(80, 200, 120);
}

/* Label for Yes/No checkboxes */
label {
    font-size: 1em;
    margin: 2%;  /* Space between labels */
}

/* Container for the family members */
#familyMembersContainer {
    display: flex;
    flex-direction: column;  /* Stack family members vertically */
    margin-top: 2.5%;
}
#email{
	margin: 5vh;
	padding: 1vh;
	background-color: rgb(80,200,120);
	color: white;
	border-radius: 20px;
	border: 2px solid white;
	text-align: center;
}
		/*----------- PHONE SCREEN STYLING----------------*/
@media screen and (max-width: 768px) {
    .member-container {
    display: flex;
    align-items: center;  /* Align items vertically in the center */
    justify-content: right;
    margin-bottom: 15px;  /* Add spacing between family members */
    font-size: 1em;  /* Adjust font size */
}
    p.main {
	margin-top: 15vh;
	}
        .autocomplete-suggestions {
	    
            border: 1px solid white;
            min-height: 10%;
            overflow-y: auto;
            background-color: black;
            z-index: 10;
            width: 50%;
	    margin: 2% auto;
	    font-size: 1em;
        }
}
			/* REGISTRY STYLES*/
	main {
		display:flex;
		flex-direction: column;
		height: 100vh;
	}
	.link-container {
	    display: flex;
	    justify-content: center;
	    gap: 5%;
	    font-size: 2em;
	    margin: 5%;
	    margin-top: 0;
	}
	.link-container a {
	    color: rgb(254,130,140);
	    transition: color .3s ease;
	}
	.link-container a:hover {
	    color: blue;
	}
			/* FUND STYLES*/
	.note {
	    font-size: 2vw;
	    font-family: Arial, sans-serif;
	    color: pink;
	}
	.above_p {
	    margin: 5%;
	    margin-bottom: 0;
	}
	.parentheses {
	    margin: 5%;
	    margin-top: 0;
	}
	#paypal-container-button {
	    display: flex;
	    text-align: center;
	    justify-content: center;
	    align-items: center;
	}
	input[type='number'] {
	    text-align: center;
	}
    #registry-background {
	display: flex;
        background-image: url(registry-background.png);
	width: 100vw;
	height: 100vh;
        background-position: bottom;
        background-size: 100vw 50vh;
	background-repeat: no-repeat;
        position: absolute;
	z-index:-1;
    }
	@media only screen and (max-width: 768px) {
	#paypal-form-fields-container-WKZBTN5WE4VUQ {
		display: flex;
	    text-align: center;
	    justify-content: center;
	    align-items: center;
	    translate: -8vw;
	}
	#registry-background {
    display: flex;
    background-image: linear-gradient(
		rgba(0,0,0,.5),
		rgba(0,0,0,.5),
		),
		url(registry-background.png);
    width: 100VW;
    HEIGHT: 50%;
    background-position: bottom CENTER;
    background-size: cover;
    BACKGROUND-REPEAT: NO-REPEAT;
    POSITION: FIXED;
    Z-INDEX: -1;
    BOTTOM: 0;
	}
	form {
	width: 50%;
	translate: -8%;
	justify-content: center;
	align-items: center;
	}
}
			/* FAQ STYLES*/
	#faq h2 {
	    text-decoration: underline;
		font-size: clamp(1em,3em,4vw);
		margin: 0% 15% 0% 15%;
	}
	#faq h3 {
	    font-family: 'Norican', serif;
	    font-size: clamp(1.2em,3em,4vw);
		font-weight: 100;
		text-decoration: underline;
	    <!-- align-self: flex-staf; -->
	    <!-- text-align:left; -->
	    <!-- margin-left: 2%; -->
	}
	.answers {
	    font-size: clamp(.75em,2em,3vw);
		margin: 0% 15% 5% 15%;
	    <!-- align-self: flex-start; -->
        <!-- text-align: left; -->
	    padding: 2% 5% 2% 5%;
	}
	.last-answers {
	    margin: 0;
	    padding: 0% 15% 10% 15%;
	}
	.intro {
			margin: 4% 15% 5% 15%;
			font-size: clamp(.9em,1.7em,3vw);
	}
	.questions {
			margin: 0% 15% 5% 15%;
	}
	.venue {
		margin: 5VW 15VW 5VW 15VW; 
	}
	@media screen and (max-width: 768px) {
    .intro {
	margin: 15vh 15% 5% 15%;
}
	}
        .tab-content {
		    position: absolute;
		    opacity: 0;
		    visibility: hidden;
		    transition: opacity 0.5s ease-in-out, visibility 0s .5s;
		    scale:.01;
		    max-height: 10vh;
	    }
	    .active {
		    opacity:1;
		    scale:1;
		    visibility: visible;
		    transition: opacity .5s ease-in-out, visibility 0s;
		    max-height: 100vh;
	    }
		/* MENU BUTTON BLOCK */
        .menu-btn {
            display: none;  /* Initially hide the menu button */
	    justify-content: center;
	    align-items: center;
        }

        .dropdown-menu {
            display: none;  /* Initially hide the dropdown menu */
            position: absolute;  /* Position it at the top of the screen */
            top: 10%;  /* Position it below the button */
            left: 50%;
	    width: 50%;
	    transform: translate(-50%);
            background-color: black;
            color: rgb(254,130,140);
	    font-family: 'Great Vibes', serif;
            text-align: center;
	    justify-content: center;
	    align-items: center;
	    font-size: 1.25em;
	    font-weight: 500;
            z-index: 1000;
	    border: 5px outset rgb(254,130,140);
	    flex-direction: column;
	    /*box-shadow: 5px 5px 5px rgb(254,130,140); */
        }

        .dropdown-menu button {
            display: flex;
	    flex-direction: column;
	    font-family: 'Great Vibes', serif;
            padding: 2%;
	    width: 100%;
  	    align-items: center;
            text-decoration: none;
	    font-size: 1.5em;
            color: rgb(254,130,140);
        }

        .dropdown-menu button:hover {
            background-color: #444;
        }
		
	.dropdown-menu button.active {
            background-color: #444;
        }
	.button-container {
	    display:none;
	}

@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        display: none;
    }

    p {
        font-size: 1.2em;
        margin: 4% 12vw;
    }
    p.first {
	margin-top:15vh
	}

    h1 {
        font-size: 1.3em;
    }

    #container {
        margin-top: 15%;
    }

    .menu-btn {
        display: flex;  /* Show the menu button */
        background-color: black;
        color: #FFFFF0;
        font-size: 30px;
        padding: 1% 2%;
		margin: 5px;
        border: 2px solid #FFFFF0;
        border-radius: 20%;
        cursor: pointer;
    }

    .menu-btn:hover {
        border: 5px inset #FFFFF0;
		margin:0;
    }

    .button-container {
        display: flex;
	flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Great Vibes', cursive;
        order: 0;
        background-image: linear-gradient(to right, rgba(200,120,130,.5), rgba(254,130,140,1), rgba(200,120,130,.5));
        color: black;
        text-align: center;
        font-size: 1.5em;
	padding: 2% 0 2% 0;
        height: auto;
        position: absolute;
        top: 0;
        z-index: 900;
        white-space: nowrap;
        width: 100%;
    }
    .dropdown-menu {
	display: none;
     }
    .dropdown-menu.active {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
    }
    .dropdown-menu button {
	background-color: black;
	padding: 2%;
	border: none;
	text-align: center;
	font-size: 1.5em;
	height: auto;
    }
    .dropdown-menu button:hover {
	background-color: gray;
    }
    .dropdown-menu button.active {
	background-color: #444;
    }
        .tab-content {
		    position: absolute;
		    opacity: 0;
		    visibility: hidden;
		    transition: opacity 0.5s ease-in-out, visibility 0s .5s;
		    scale:.01;
	      	    max-height: 10vh;
	    }
	    .active {
		    opacity:1;
		    visibility: visible;
		    scale:1;
		    max-height: 100vh;
		    transition: opacity .5s ease-in-out, visibility 0s;
	    }
}

/* Media Query for Small Screens (max-width: 480px) */
@media screen and (max-width: 480px) {
    header {
        display: none;
    }
.carousel-image {
    width: 50vw;
    height: 30vh;
    object-fit: cover;
    margin: 10px;
    border-radius: 25px;
    transition: transform .5s ease;
    z-index: 0;
}

    p.first {
        margin-top: 15vh;
    }
    p {
	font-size: clamp(1em,2vw,2em);
	margin: 4% 12vw;
    }
    h1 {
        font-size: 1.2em;
    }

    #container {
        margin-top: 15%;
    }

    .menu-btn {
        display: block;  /* Show the menu button */
        background-color: black;
        color: #FFFFF0;
        font-size: 30px;
        padding: 1% 2%;
        margin: 1%;
        border: 2px ridge #FFFFF0;
        border-radius: 20%;
        cursor: pointer;
    }

    .menu-btn:hover {
        border: 5px inset black;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Great Vibes', cursive;
        order: 0;
        background-image: linear-gradient(to right, rgba(200,120,130,.5), rgba(254,130,140,1), rgba(200,120,130,.5));
        color: black;
        text-align: center;
        font-size: 1.5em;
        height: auto;
	padding: 2% 0 2% 0;
        position: absolute;
        top: 0;
        z-index: 900;
        white-space: nowrap;
        width: 100%;
    }
    .dropdown-menu {
	display: none;
     }
    .dropdown-menu.active {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
    }
    .dropdown-menu button {
	background-color: black;
	padding: 2%;
	border: none;
	text-align: center;
	font-size: 1.5em;
	height: auto;
    }
    .dropdown-menu button:hover {
	background-color: gray;
    }
    .dropdown-menu button.active {
	background-color: #444;
    }
        .tab-content {
		    position: absolute;
		    opacity: 0;
		    visibility: hidden;
		    scale:.01;
		    transition: opacity 1s ease-in-out, visibility 0s .5s;
	 	    max-width: 100%;
		    max-height: 10vh;
	    }
	    .active {
		    opacity:1;
		    visibility: visible;
		    scale:1;
		    max-height: 100vh;
		    transition: opacity 1s ease-in-out, visibility 0s;

	    }
}

}
